@import '~react-image-gallery/styles/css/image-gallery.css';


header {
    background-color: #222222;
    margin-bottom: 4rem;
  }

  .image-gallery-icon {
    color: #ffffff91;
  }
  
  .image-gallery-wrapper {
    max-width: max-content;
    width: 100%;
    margin: 0 auto;
    max-height: max-content;
    padding-top: 115px;
    
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(90vh - 80px);
  }
  
  @media only screen and (min-device-width: 375px) {
    .header-wrapper {
      padding: 1rem;
    }
  }