@import '~react-image-gallery/styles/css/image-gallery.css';


header {
    background-color: #5c0080;
    margin-bottom: 4rem;
  }
  
  .image-gallery-wrapper {
    margin-top: 5rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
   padding-top: 150px;
    box-shadow: #2b15453d 1px 10px 10px 5px;
  }
  
  @media only screen and (min-device-width: 375px) {
    .header-wrapper {
      padding: 1rem;
    }
  }