.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Header */

.header {
  height: 120px;
  background-color: rgba(163, 163, 163, 0.527);
  top: 0;
  position: sticky;
  position: fixed!important;
  z-index: 1000;
  width: 100%;
}

.titleh1 {
  font-weight: bold;
  color: white;
  padding-left: 15px;
  }

  .navbar {
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    height: 75px;
    background-color: rgb(80 80 80 / 53%);
    top: 0;
    position: sticky;
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    justify-content: space-around;
  }

  .navlink {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 10px;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Lilita One', cursive;
  }

  #beachhousenav {
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none; 
}

  .navlink:hover {
    color: ivory;
    font-weight: bolder;
    cursor: pointer;
  }

  /* Home.js */

  

  /* Home-Slideshow */

  *{
    margin:0;
    padding:0;
  }
  
  .backgroundslides, .backgroundslides:after{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:0;
    list-style:none;
  }
  
  .backgroundslides:after{
    content: '';
  }
  
  .backgroundslides li span{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    color:transparent;
    background-size:cover;
    background-position: 50% 50%;
    background-repeat:none;
    opacity:0;
    z-index:0;
    -webkit-animation: imageFade 36s linear infinite 0s;
    -moz-animation: imageFade 36s linear infinite 0s;
    -o-animation: imageFade 36s linear infinite 0s;
    -ms-animation: imageFade 36s linear infinite 0s;
    animation: imageFade 36s linear infinite 0s;
  }
  
  .backgroundslides li:nth-child(1) span{
    background:url(./images/04599f12-2df1-4cb9-aac1-89c78ab0718c.webp);
  }
  
  .backgroundslides li:nth-child(2) span{
    background:url(./images/469925b5-f7ec-4ccc-822c-61cad80a5b5c.webp);
    -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -o-animation-delay: 6s;
      -ms-animation-delay: 6s;
    animation-delay:6s; 
    background-size: cover;
  }
  
  .backgroundslides li:nth-child(3) span{
    background:url(./images/61b7263d-a513-41ef-a9c6-fbe9afffe7f2.webp);
    -webkit-animation-delay: 12s;
      -moz-animation-delay: 12s;
      -o-animation-delay: 12s;
      -ms-animation-delay: 12s;
      animation-delay: 12s; 
      background-size: cover;
  }
  
  .backgroundslides li:nth-child(4) span{
    background:url(./images/f3b0ec24-8046-4085-a39c-b5dc0e39b712.webp);
    -webkit-animation-delay: 18s;
      -moz-animation-delay: 18s;
      -o-animation-delay: 18s;
      -ms-animation-delay: 18s;
      animation-delay: 18s;  
      background-size: cover;
  }
  
  .backgroundslides li:nth-child(5) span { 
      background-image: url(./images/47f4dd8b-7d47-4afc-8538-9bd864a93aab.webp);
      -webkit-animation-delay: 24s;
      -moz-animation-delay: 24s;
      -o-animation-delay: 24s;
      -ms-animation-delay: 24s;
      animation-delay: 24s; 
  }
  
  /* Animation for Home Image Slide show */
  @-webkit-keyframes imageFade { 
      0% { opacity: 0;
      -webkit-animation-timing-function: ease; }
      8% { opacity: 1;
           -webkit-animation-timing-function: ease; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  @-moz-keyframes imageFade { 
      0% { opacity: 0;
      -moz-animation-timing-function: ease; }
      8% { opacity: 1;
           -moz-animation-timing-function: ease; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  @-o-keyframes imageFade { 
      0% { opacity: 0;
      -o-animation-timing-function: ease; }
      8% { opacity: 1;
           -o-animation-timing-function: ease; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  @-ms-keyframes imageFade { 
      0% { opacity: 0;
      -ms-animation-timing-function: ease; }
      8% { opacity: 1;
           -ms-animation-timing-function: ease; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  @keyframes imageFade { 
      0% { opacity: 0;
      animation-timing-function: ease; }
      8% { opacity: 1;
           animation-timing-function: ease; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }

  /* About */

  .aboutbackground {
    background: url(./images/034ed1ed-fa40-4425-854d-eb783db443c9.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
  }

  .container {
    text-align: -webkit-center;
    
  }

  .gridwrapper {
    display: grid;
    grid-template-columns: 50% 50%;	
  }
  
  
  .box {
      background-color: #444;
      color: #fff;
      padding: 1em;
  }

  .infotext {
    padding: 20px;
    background-color: rgb(80 80 80 / 53%);
    width: auto;
    color: white;
    margin: 199px 50px 10px 50px;
    border-radius: 5px;
    align-self: center;
  }

  .map {
    padding: 200px 10px 10px 10px;
  }

  .about-h2 {
    font-size: x-large;
  }

  .abouttext {
    font-size: x-large;
  }