.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/* ---------- Header ---------- */

.header {
  height: 120px;
  background-color: rgba(163, 163, 163, 0.527);
  top: 0;
  position: sticky;
  position: fixed!important;
  z-index: 1000;
  width: 100%;
}

.titleh1 {
  font-weight: bold;
  color: white;
  padding-left: 15px;
  }

  .navbar {
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    height: 50px;
    background-color: rgb(80 80 80 / 53%);
    top: 0;
    position: sticky;
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    justify-content: space-around;
  }

  .navlink {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 10px;
    font-weight: bolder;
    font-size: x-large;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto Slab', serif;
  }

  #beachhousenav {
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none; 
}

  .navlink:hover {
    color: ivory;
    font-weight: bolder;
    cursor: pointer;
  }

  /* ---------- Home.js ---------- */

  

  

  /* ---------- About ---------- */

  .aboutbackground {
    background: url(./assets/images/034ed1ed-fa40-4425-854d-eb783db443c9.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
  }

  .container {
    text-align: inherit;
    height: 100%;
    
  }

  .gridwrapper {
    display: grid;
    /* grid-template-columns: 60% 40%;	 */
    justify-items: end;
    height: 100%;
  }
  
  
  .box {
      background-color: #444;
      color: #fff;
      padding: 1em;
  }

  .infotext {
    padding: 40px;
    background-color: rgb(80 80 80 / 90%);
    width: 55%;
    color: white;
    margin: 0 auto;
    border-radius: 8px;
    align-self: center;
    font-family: 'Roboto Slab', serif;
  }

  .map {
    padding: 200px 10px 10px 10px;
  }

  iframe {
    border-radius: 5px;
  }

  ul {
    list-style-type: none;
}

  .about-h1 {
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
  }

  .about-h2 {
    padding-top: 5px;
  }

  .abouttext {
    font-size: medium;
  }


  /* ---------- Booking ---------- */

  body{
    background: url(./assets/images/04599f12-2df1-4cb9-aac1-89c78ab0718c.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
    }

    .booking-h1 {
      font-family: 'Roboto Slab', serif;
    
    }
    .booking-container {
      text-align: center;
    }

    .form-control {
      font-family: 'Roboto Slab', serif;
    }

.section{
    position: relative;
    height: 100vh;
    padding-top: 75px;
    
    }

.section .section-center{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
    }

#booking{
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;

    }
    
    .booking-form{
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
    background-size: cover;
    border-radius: 5px;
    z-index: 20
    }

    #message {
      height: 150px;
      border-radius: 10px;
      font-family: 'Roboto Slab', serif;
      font-size: medium;
      width: 390px;
    }

    .booking-text {
      margin-left: 100px;
    color: white;
    margin-right: 100px;
    justify-items: center;
    font-family: 'Roboto Slab', serif;
    }

    .tableinputs {
      display: inline-flex;
    width: 100%;
    justify-content: center;
    }
        
    .booking-form::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: rgba(53, 53, 53, 0.9);
    z-index: -1
    }
    
    .booking-form .form-header{
        text-align: center;
        position: relative;
        margin-bottom: 30px
    }

    .booking-form .form-header h1{
        font-weight: 700;
        text-transform: capitalize;
        font-size: 42px;
        margin: 0px;
        color: white;
    }

    .booking-form .form-group{
    position: relative;
    margin-bottom: 30px
    }
    
    .booking-form .form-control{
        background-color: rgba(255, 255, 255, 0.7);
        height: 60px;
        padding: 0px 25px;
        border: none;
        border-radius: 40px;
        color: rgb(0, 0, 0, .7);
        -webkit-box-shadow: 0px 0px 0px 2px transparent;
        box-shadow: 0px 0px 0px 2px transparent;
        -webkit-transition: 0.2s;
        transition: 0.2s
        }
        
    .booking-form .form-control::-webkit-input-placeholder{
        color: rgba(0, 0, 0, 0.5)
    }
    
    .booking-form .form-control:-ms-input-placeholder{
      color: rgba(0, 0, 0, 0.5)
    }
    
    .booking-form .form-control::placeholder{
      color: rgba(0, 0, 0, 0.5)
    }
        
    .booking-form .form-control:focus{
        -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
        box-shadow: 0px 0px 0px 2px #ff8846
    }

    .in-out-date {
      display: inline-flex;
    }

    .num-people {
      display: inline-flex;
    }

    .col-md-6 {
      padding-left: 5px;
    padding-right: 5px;
    }
        
    .booking-form input[type="date"].form-control{
            padding-top: 16px
        }
            
    .booking-form input[type="date"].form-control:invalid{
    color: rgba(0, 0, 0, 0.5)
    }
        
    .booking-form input[type="date"].form-control+.form-label{
    opacity: 1;top: 10px
    }
            
    .booking-form select.form-control{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
        }
        
    .booking-form select.form-control:invalid{
            color: rgba(0, 0, 0, 0.5)
            }

    .booking-form select.form-control+.select-arrow{
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: #ff8846;
        font-size: 14px
        }
        
    .booking-form select.form-control+.select-arrow:after{
            content: '\279C';
            display: block;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg)
            }
            
    .booking-form select.form-control option{
            color: #000
         }
                
    .booking-form .form-label{
        position: absolute;
        top: -10px;
        left: 25px;
        opacity: 0;
        color: rgba(0, 0, 0, 0.5);
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        height: 15px;
        line-height: 15px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all
        }
        
        .booking-form .form-group.input-not-empty .form-control{
        padding-top: 16px
        
        }
            
        .booking-form .form-group.input-not-empty .form-label{
        opacity: 1;top: 10px
        }
                
        .booking-form .submit-btn{
        color: #fff;
        background-color: #e35e0a;
        font-weight: 700;
        height: 60px;
        padding: 10px 30px;
        width: 70%;
        border-radius: 40px;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.3px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all
        }
                    
        .booking-form .submit-btn:hover, .booking-form .submit-btn:focus{
        opacity: 0.9
        }
        


        /* ---------- Gallery ---------- */

        #gallerybackground {
          background: hsla(0, 0%, 11%, 0.85);
          height: 1200px;
        }


        /* ---------- Confirmation ---------- */

        .confirmation {
          font-size: larger;
          width: 400px;
          text-align: center;
          padding: 15px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.7);
          
        }

        .confirmation-body {
          text-align: -webkit-center;
          padding-top: 200px;
          color: white;
          font-family: 'Roboto Slab', serif;
          /* font-family: 'Lilita One', cursive; */
        }

.test {
  padding-top: 200px;
}
        

@media (max-width: 550px) {
  #beachhousenav {
     font-size: larger;
 }

 .navlink {
  font-size: large;
 }

 .about-h1 {
  font-size: x-large;
 }

 .about-h2 {
  font-size: larger;
 }

 .infotext {
  margin: 75px auto 0 auto;
 }

}

       